<div class="uk-container {{ width  }}  ">
    {% if data.headline %}
        <h2 class="Headline {{ data.headline_alignment }} {{ uppercase }}">{{ data.headline | e('esc_html') }}</h2>
        {{ spacer }}
    {% endif %}
    <div class="content {{ data.content_alignment }} {{ text_cols  }} {{ divider }}">
        {{ data.content | wpautop  | e('wp_kses_post') }}
    </div>
    {% if data.cta_text %}
        <div class="uk-flex {{ flex_align }}">
            <a href="{{ data.cta_url | e('esc_url') }}" {{ target }}
               class="uk-button {{ button_type }} uk-margin-top">{{ data.cta_text | e('esc_html') }}</a>
        </div>

    {% endif %}
</div>