{% extends 'module-base.twig' %}
{% block content %}
<section id="{{ id  }}" class="alternate-grid-module {{ class }} {{ margin }}" >
    {% for item in data.photo_text %}
        <div class="photo-text uk-grid-match uk-grid-collapse uk-child-width-1-2@m" uk-grid>
            <div class="photo-text-content uk-padding-large   {{ bg }}">{{ item.text  | e('wp_kses_post') }}</div>
            <div class="photo-text-image uk-background-fixed"
                 style="background: url({{ TimberImage(item.photo) | e('esc_url') | resize(750, 550) }}) no-repeat;
                         -webkit-background-size:cover ;background-size: cover;
                         "></div>
        </div>
    {% endfor %}

</section>
{% endblock %}