{% extends 'module-base.twig' %}

{% block content %}
    {% set image = TimberImage(data.bg_image) %}
<section id="{{ id  }}" class="uk-section uk-background-cover {{ light }}  {{ padding  }} {{ margin  }} {{ class  }} {{ bg  }}  content-component" {% if data.parallax %} uk-parallax="bgy: -300" {% endif %}
        {% if data.bg_image %}style="background: url({{ image }}) no-repeat"{% endif %}>

    {% include 'partials/module-content.twig' %}

</section>
{% endblock %}



