{% extends 'module-base.twig' %}

{% block content %}
    <section id="{{ id }}"
             class="uk-section  {{ padding }} {{ margin }} {{ class }} {{ bg }}  gallery-component">
        {% if width != 'full-width' %}
        <div class="uk-container {{ width }}  ">
            {% endif %}

            <div class="grid-gallery {{ gutter }} {{ cols }}"
                 uk-grid
                 uk-lightbox="animation: slide">
                {% for item in data.gallery_items %}
                    <div class="item uk-inline-clip uk-transition-toggle">
                        {% set image =  TimberImage(item.image) %}
                        {% set lightbox = item.video ? item.video  : image %}
                        <a href="{{ lightbox | e('esc_url') }}"
                           class="uk-inline-clip uk-transition-toggle"
                           caption="{{ image.caption | e('esc_html') }}">
                            <img class="uk-transition-scale-up uk-transition-opaque "
                                 src="{{ image | e('esc_url') |
                                 resize (1000,1000) }}"
                                 alt="{{ image.alt | e('html_attr') }}">

                            <div class="uk-overlay {{ item.overlay | e('esc_html') }} uk-position-cover {{ item
                            .animation
                            | e('html_attr') }} ">

                                {% set overlay_content = item.overlay_content ? item.overlay_content  | e('wp_kses_post') : '<span uk-icon="icon: plus; ratio: 2"></span>' %}

                                    <div class="uk-margin-remove uk-padding uk-position-center ">{{ overlay_content }}</div>

                            </div>


                        </a>

                    </div>



                {% endfor %}

            </div>

            {% if width != 'full-width' %}
        </div>
        {% endif %}

    </section>
{% endblock %}
