{% set padding = data.padding %}
{% set class = data.class %}
{% set id = data.id %}
{% set width = data.width %}
{% set margin = data.margin %}
{% set bg = data.background %}
{% set text_cols = data.text_columns %}
{% set divider = data.divider ? 'uk-column-divider' : '' %}
{% set spacer = data.spacer ? '<div class = "spacer"></div>' : '' %}
{% set uppercase = data.uppercase ? 'uk-text-uppercase': '' %}
{% set inverse = data.inverse ? 'uk-flex-column-reverse' : 'uk-flex-column' %}
{% set inverse_margin = data.inverse ? 'uk-margin-top' : '' %}
{% set gutter = data.gutter %}
{% set cols = data.number_of_columns %}
{% set lightbox = data.video ? data.video | e('esc_url') : image | e('esc_url') %}
{% set light = data.light ? 'uk-light' : ''%}
{% set target = data.target ? 'target="blank"' : ''%}
{% set flex_align = data.flex_align %}
{% set button_type = data.button_type %}
{% set overlay = data.overlay %}
{% set height = data.height %}




{% block content %}

{% endblock %}
