{% extends 'module-base.twig' %}
{% block content %}
<section id="{{ id  }}" class="text-image-columns-module uk-section {{ class }} {{ bg }}{{ margin }}">
    {% set cols = data.number_of_columns %}
    <div class="uk-container">
        <div class="{{ cols }}"  uk-grid uk-height-match="target: .text-image-columns-content">
            {% for item in data.text_image %}
                <div class="text-image-item uk-flex {{ inverse }}">
                <div class="text-image-columns-content {{ inverse_margin }}">{{ item.text  | e('wp_kses_post') }}</div>
                    <img src="{{ TimberImage(item.image) | e('esc_url') | resize(750,550)  }}"
                         alt="">
                </div>

            {% endfor %}

        </div>
    </div>
</section>
{% endblock  %}