{% extends 'module-base.twig' %}

{% block content %}
    <section id="{{ id }}"
             class=" uk-section video-component uk-cover-container {{ margin }} {{ clas }} {{ light }}
    {{ padding }} {{ height }}">
        {% if data.youtube %}
            <iframe src="//www.youtube.com/embed/{{ data.youtube | e('esc_html') }}?autoplay=1&amp;controls=0&amp;showinfo=0&amp;rel=0&amp;loop=1&amp;modestbranding=1&amp;wmode=transparent"
                    width="560"
                    height="315"
                    frameborder="0"
                    allowfullscreen
                    uk-cover></iframe>



        {% elseif data.vimeo %}
            <iframe src="https://player.vimeo.com/video/{{ data.vimeo | e('esc_html') }}?autoplay=1&amp;controls=0&amp;showinfo=0&amp;loop=1&amp;rel=0&amp;loop=1&amp;modestbranding=1&amp;wmode=transparent"
                    width="640"
                    height="360"
                    frameborder="0"
                    allowfullscreen
                    uk-cover></iframe>

        {% else %}
            <video uk-cover
                   autoplay
                   loop
                   muted>

                <source src="{{ TimberImage(data.mp4) | e('esc_url') }}"
                        type="video/mp4">
                <source src="{{ TimberImage(data.webm) | e('esc_url') }}"
                        type="video/webm">
            </video>
        {% endif %}

        <div class="{{ overlay }} uk-position-cover ">
            <div class="uk-position-center">
                {% include 'partials/module-content.twig' %}
            </div>
        </div>
    </section>
{% endblock %}